{% extends 'base.html' %}
{% block title %}Connexion{% endblock %}
{% block bodyId %}loginPage{% endblock %}
{% block content %}
    <div class="inscription">
        <p>Inscrivez-vous maintenant</p>
        <button onclick="window.location.href = {% url 'signup' %}">S'inscrire</button>
    </div>
    <div class="login">
        <p>Connectez-vous</p>
        <form method="post">

            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" >Se connecter</button>
        </form>
    </div>
{% endblock content %}
