{% extends 'base.html' %}
{% block content %}
    <div class="create_ticket">
        <h2>Créer un Ticket</h2>
        <form method="post">
            <p> Titre </p>
            {{ticket_form.title}}
            <p> Description </p>
            {{ticket_form.description}}
            <p> Image </p>
            {{ticket_form.image}}
            {% csrf_token %}
            <p>
                <button type="submit" >Envoyer</button>
            </p>
        </form>
    </div>
{% endblock content %}