{% extends 'base.html' %}
{% block content %}
    <div class="edit_ticket">
        <h2>Modifier votre ticket</h2>
        <form method="post" enctype="multipart/form-data">
            {{ update_ticket }}
            {% csrf_token %}
            <p>Titre</p>
            {{edit_form.title}}
            <p> Description </p>
            {{edit_form.description}}
            <p> Image </p>
            <div>
                {% if ticket.image %}
                        <img src={{ticket.image.url}} alt={{ticket.title}}>
                {% endif %}
                <p>
                    <input type="file" name="image" accept="image/*" id="id_image">
                </p>
            </div>
            <p>
                <button type="submit" >Mise à Jour </button>
            </p>
        </form>
    </div>
{% endblock content %}
