{% extends 'base.html' %}
{% block content %}
    <section class="posts">
        <div class="ask_create_posts">
            <form method="post" action="/ticket/new" >
                {{ new_ticket }}
                {% csrf_token %}
                <button type="submit">Demander une critique</button>
            </form>
            <form method="post">
                {{ update_ticket }}
                {% csrf_token %}
                <button type="submit">Créer une critique</button>
            </form>
        </div>
        {% include 'blog/feed.html' %}
    </section>
{% endblock content %}