{% extends 'base.html' %}
{% block content %}
    <section class="abonnements">
        <div>
            <h2>Voulez-vous suivre d'autres utilisateurs</h2>
            <form method="post">
                {{ subscribe }}
                {% csrf_token %}
                <button type="submit">Envoyer</button>
            </form>
        </div>
        <div>
           {% include 'blog/table.html' with submit='Désabonner' title='Vos abonnements' users=my_subscription %}
        </div>
        <div>
           {% include 'blog/table.html' with  title='Vos abonnés' users=my_subscribers %}
        </div>
    </section>
{% endblock content %}


