<div class="view_review">
    <div class="header_review">
        {% if user.id == post.user_id %}
           <h1> Vous avez publié une critique </h1>
        {% else %}
            <h1> {{ post.user }} a publié une critique </h1>
        {% endif %}
        <p class="time">{{post.time_created}}</p>
    </div>
    <section class="review">
        <div class="title_review">
            <h2> {{post.headline}}</h2>
            <h2> - </h2>
            <h2 class="rating">
                {% for x in '12345' %}
                    {% if forloop.counter <= post.rating %}
                        &#9733
                    {% endif %}
                {% endfor %}
            </h2>
        </div>
        <div class="comment_review">
            <h1> {{post.body}} </h1>
        </div>
    </section>
    <section class="ticket">
        {%  for ticket in all_ticket %}
            {% if  post.ticket_id == ticket.id %}
                <h1> Ticket - {{ ticket.user }} </h1>
                <div class="title_ticket">
                <h2>{{ ticket.title }}</h2>
                </div>
                <div class="body_ticket">
                    <div class="description_ticket">
                        <p> {{ ticket.description }} </p>
                    </div>
                    <div class="image_ticket">
                        {% if ticket.image %}
                            <img src={{ticket.image.url}} alt={{post.title}}>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>
    <div class="post_review">
        {% if user.id == post.user_id %}
            <form method="post" >
                {% csrf_token %}
                <input type="submit" value="Modifier" formaction="/review/{{post.id}}/edit">
            </form>
            <form method="post">
                 {% csrf_token %}
                <input type="submit" value="Supprimer" formaction="/review/{{post.id}}/delete">
            </form>
        {% endif %}
    </div>
</div>
