<section class="ticket">
    <div class="header_ticket">
        {% if user.id == post.user_id %}
           <h1> Vous avez demandé une critique </h1>
        {% else %}
            <h1> {{ post.user }} a demandé une critique </h1>
        {% endif %}
        <p class="time" >{{post.time_created}}</p>
    </div>
    <div class="title_ticket">
        <h2>{{ post.title }}</h2>
    </div>
    <div class="body_ticket">
        <div class="description_ticket">
            <p> {{ post.description }} <p>
        </div>
        <div class="image_ticket">
            {% if post.image %}
                <img src={{post.image.url}} alt={{post.title}}>
            {% endif %}
        </div>
    </div>
    <div class="post_ticket">
        {% if user.id == post.user_id %}
            <form method="post" >
                {% csrf_token %}
                <input type="submit" value="Modifier" formaction="/ticket/{{post.id}}/edit">
            </form>
            <form method="post">
                 {% csrf_token %}
                <input type="submit" value="Supprimer" formaction="/ticket/{{post.id}}/delete">
            </form>
        {% endif %}
        {% if post.is_review == 0 %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="ticket_id" value="{{post.id}}">
                <input type="submit" value="Publier une critique" formaction="/review/new">
            </form>
        {% endif %}
    </div>
</section>