{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" />
        <title>LITReview - {% block title %} Bienvenue {% endblock %} </title>
    </head>
    <body id="{% block bodyId %}genericPage{% endblock %}">
        <header>
            <div class="Logo">  <img src="{% static 'img/16004297044411_P7.png' %}" alt="LITReview"> </div>
            <div class="center">LITReview</div>
            <nav class="menu">
                {%  if user.is_authenticated %}
                <ul>
                    <li><a href="{% url 'flux' %}">Flux</a></li>
                    <li><a href="{% url 'posts' %}">Posts</a></li>
                    <li><a href="{% url 'subscription' %}">Abonnements</a></li>
                    <li><a href="{% url 'logout' %}">Déconnection</a></li>
                </ul>
                {% endif %}
            </nav>
        </header>
        <section class="content">
            {% block content %}{% endblock content %}
        </section>
    </body>
</html>
