ul.errorlist{
    text-align:  left;
    display: none;
    list-style-type: none;
    width: 30%;
    margin: 5px;
}



.login{
    flex: 0.5;
    text-align:  right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


