html {
    margin: 0;
    padding: 0;
    font-size: min(max(1rem, calc(1rem + ((1vw - 0.48rem) * 1.38))), 2rem);
}

nav li {
    margin-right: 10px;   /* 15px entre chaque élemenents */
}

body {
    font-family: "Times New Roman", Times, "Liberation Serif", FreeSerif, serif;
    color: whitesmoke;
    background-color: black;

}

form {
    margin: auto;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #005777;
    justify-content: space-around;
}

.center{
    flex: 0.1;
    text-align:  center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.logo{
    flex: 0.1;
    text-align:  center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu {
    text-align:  center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content {
    display: flex;
    justify-content: space-around;
}

.login{
    flex: 0.5;
    text-align:  right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    text-align: center;
}
nav ul {
    text-align:  center;
    display: flex;
    list-style-type: none;  /* Supp les puces */
    justify-content: space-around;
}
ul.errorlist{
    text-align:  left;
    list-style-type: none;
    width: 30%;
    margin: 5px;
}

form#ul {
    text-align: center;
}

span {
    display: none;
}

a {
    color: #3b5998
}

a:link {
    text-decoration:none;   /* Supp  le soulignement des liens Html */
    color: inherit;         /* force la couleur des liens avec la couleur défini dans body  */
}

a:visited {
    text-decoration:none;   /* Supp  le soulignement des liens Html */
    color: inherit;         /* force la couleur des liens avec la couleur défini dans body  */
}

img{
    height: auto;
    width: 50%;
    object-fit: contain;
}

/* page Abonnements */
table {
    border: medium solid #000000;
    width: 90%;
}

td, th {
    border: thin solid #005777;
    width: 80%;
}

h2 {
text-align: center;
}

/* css title */

.posts {
    display: flex;
    flex-direction: column;
    margin: 1%;
    flex: 0.7;
}

.header_ticket, .post_ticket, .description_ticket, .ask_create_posts{
    display: flex;
    justify-content: space-around;
}

.ask_create_posts, .post_ticket{
    padding: 1%;
}

.description_ticket {
   width: 60%;
   margin-left: 5%;
   padding-left: 1%;
   margin-bottom: 1%;
   overflow-wrap: break-word;
}

.ticket, .description_ticket {
    border: thin solid #005777;
}