html {
    margin: 0;
    padding: 0;
    font-size: min(max(1rem, calc(1rem + ((1vw - 0.48rem) * 1.38))), 2rem);
}

nav li {
    margin-right: 10px;   /* 15px entre chaque élemenents */
}

body {
    font-family: "Arial", "Times New Roman", Times, "Liberation Serif", FreeSerif, serif;
    color: whitesmoke;
    background-color: black;
}

form {
    margin: auto;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #005777;
    justify-content: space-around;
}

.center{
    flex: 0.1;
    text-align:  center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.logo{
    flex: 0.1;
    text-align:  center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu {
    text-align:  center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content {
    display: flex;
    justify-content: space-around;
}

.login{
    flex: 0.5;
    text-align:  right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    text-align: center;
}
nav ul {
    text-align:  center;
    display: flex;
    list-style-type: none;  /* Supp les puces */
    justify-content: space-around;
}

ul.errorlist{
    text-align:  left;
    display: none;
    list-style-type: none;
    width: 30%;
    margin: 5px;
}

form#ul {
    text-align: center;
}

span {
    display: none;
}

a {
    color: #3b5998
}

a:link {
    text-decoration:none;   /* Supp  le soulignement des liens Html */
    color: inherit;         /* force la couleur des liens avec la couleur défini dans body  */
}

a:visited {
    text-decoration:none;   /* Supp  le soulignement des liens Html */
    color: inherit;         /* force la couleur des liens avec la couleur défini dans body  */
}

img{
    height: auto;
    width: 50%;
    object-fit: contain;
}

/* page Abonnements */
table {
    border: medium solid #000000;
    width: 90%;
}

td, th {
    border: thin solid #005777;
    width: 80%;
}

h2 {
text-align: center;
}

/* css post flux */
.posts, .flux {
    flex-direction: column;
    margin: 1%;
    flex: 0.7;
}

/* css ticket */
.posts, .header_ticket, .post_ticket, .ask_create_posts, .edit_ticket, .ticket, .review, .header_review, .post_review, .create_review {
    display: flex;
}

.image_ticket{
    width: 30%;
    padding-bottom: 5%
}

.body_ticket {
    display: flex;
    flex-direction: row;
}

.header_ticket, .ask_create_posts, .header_review {
    justify-content: space-around;
}

.edit_ticket, .ticket  {
    flex-direction: column;
    flex-grow: 2;
}

.create_review, .review {
    flex-direction: column;
}

.edit_ticket form {
    margin-inline-start: 30%;
    margin-inline-end: 30%
}

.edit_ticket input, .edit_ticket textarea, .ticket input, .ticket textarea {
    width: 90%;
    margin-left: 5%;
}

.ask_create_posts, .post_ticket, .post_review {
    padding: 1%;
}

.description_ticket , .comment_review, .rating_review {
   width: 60%;
   margin-left: 5%;
   margin-bottom: 1%;
   overflow-wrap: break-word;
   display: flex;
}

.description_ticket p , .comment_review p  {
    color: azure;
    margin-top: auto;
    margin-bottom: auto;
}

.ticket,  .view_review{
    border: thin solid #005777;
    margin: 1%;
}

.title_ticket h2, .title_review h2 {
   margin-left: 5%;
   text-align: left;
}